
.pointer{
    cursor: pointer;
}
.pointerOff{
    cursor: not-allowed;
}
@media only screen and (max-width: 992px) {
    .modal {
        width: 90%!important;
        max-height: 100% !important;
        top: 3% !important;
    }

}
