.btn-xsm{
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 21px;
    font-size: 10px;
    
}
.btn-realtext{
    text-transform: unset;
}
.btn-closex{
    padding-left: 5px;
    padding-right: 5px;
}
.label-fix{
    margin-top:unset!important;
}

.input-field {

    
     margin-bottom: unset;
}

.modal{
        max-height: 99%;
}

.container_cd{
    margin:0 auto;
    max-width:680px;
    width:90%
    
}

@media only screen and (min-width: 601px){
    .container_cd{
        width:60%
    }
}

@media only screen and (min-width: 993px){
    .container_cd{
        width:50%
    }
}

@media only screen and (max-width: 992px){
.modal {
    width: 95%;
    }
}

.btn, .btn-large, .btn-flat{
    
    text-transform: unset!important;
}
.btn-elements {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}